.header {
   background: #687BF3;
   color: white;
   font-size: 24pt;
   text-align: center;
   padding: auto 20px;
}

.row {
   display: flex;
   justify-content: center;
}

.column {
   padding: 10px;
}

select {
   width: 100px;
   height: 30px
}